<!-- Menu Grid Section -->
    <section id="menu" class="bg-darkest-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">{{page.title}}</h2>
                    <h3 class="section-subheading text-muted">{{page.subtitle}}</h3>
                </div>
            </div>
            <div class="row">
            {% for post in include.current_collection.docs %}
                {% if post.layout == "post" and post.category == page.children-category %}
                    <div class="col-md-4 col-sm-6 research-item">
                        <a href="#menuModal{{ post.modal-id }}" class="menu-link" data-toggle="modal">
                            <div class="menu-hover">
                                <div class="menu-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/img/research/{{post.thumbnail}}" class="img-responsive img-centered" alt="">
                        </a>
                        <div class="menu-caption">
                            <h4>{{ post.title }}</h4>
                            <p class="text-muted">{{ post.subtitle }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
