<!-- Research Grid Section -->
    <section id="research" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research</h2>
                    <h3 class="section-subheading text-muted">{{site.collections.research.description}}</h3>
                </div>
            </div>
            <div class="row">
            {% for post in site.research %}
                {% if post.type == "research" %}
                    <div class="col-md-4 col-sm-6 research-item">
                        <a href="#researchModal{{ post.modal-id }}" class="research-link" data-toggle="modal">
                        <!--<a href="{{post.url}}" class="research-link" data-toggle="modal">-->
                            <div class="research-hover">
                                <div class="research-hover-content">
                                    <i class="fa fa-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="img/research/{{ post.thumbnail }}" class="img-responsive img-centered img-rounded" alt="">
                        </a>
                        <div class="research-caption">
                            <h4>{{ post.title }}</h4>
                            <p class="text-muted">{{ post.subtitle }}</p>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </section>
