<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include header.html %}
    {% include profile.html %}
    {% include portfolio_grid.html %}
    {% include research_grid.html %}
    {% include tutorials_grid.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include research_modals.html %}
    {% include tutorials_modals.html %}
    {% include js.html %}

    <ul>
      Debug: Posts in blog!
      {% for post in site.posts %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
      {% endfor %}
    </ul>

    </body>
</html>
