<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {% include menu_header.html %}

    <p>
    This is a menu for collection: {{page.collection}} - {{page.title}}
    </p>
    <p>
    Site collections: {{site.collections}}
    </p>

    {% for collection in site.collections %}
        {% if collection.label == page.collection %}        
            {% include menu_grid.html current_collection=collection %}
            {% include footer.html %}
            {% include menu_modals.html current_collection=collection %}
        {% endif %}
    {% endfor %}

    {% include js.html %}

    </body>
</html>
